  @media screen and (max-width: 1030px) {
    
    .header_back {
      min-height: 700px;
      background-size: 1000px;
    }

    .section_advantage_item {
      margin-bottom: 20px;
    }

    .header_back {
      background-position-x: 50% ;
    }

  }