@media screen and (max-width: 1300px) {

    .header_back {
        background-size: cover;
    }

    .header_left_city {
        font-size: 14px;
    }

    .header_right_span_time {
        font-size: 14px;
    }

    .header_link_tel {
        font-size: 22px;
    }

    .nav_list {
        font-size: 18px;
    }
}